
.recent_product_show{
	width: 100%;
	clear:both;
}



.thumbnail{
	max-height: 200px;
	float:left;
	padding: 10px;
	border:none;
}

.thumbnail:hover{
	opacity: 0.5;
}
.trending_product_show{
	clear:both;
}

